aside.side-slider
	button(type="button", class="close", data-dismiss="side-slider", aria-hidden="true") ×
	nav
	div.content
button.handle.side-slider-toggle.open
button.handle.side-slider-toggle.close
div.side-slider-toggle.slider-overlay
